# Dependencies
node_modules/

# Build output
dist/

# dotenv environment variable files
.env
.env.*
!.env.example

# Logs
logs/
*.log

# ESLint cache
.eslintcache

# TypeScript cache
*.tsbuildinfo

# Husky internals (generated at install time)
.husky/_/

# file processing
pending
done
processing